@use "../abstracts/colors" as *;

.header {
  background-color: $blue;
  padding-block: 0.5rem;

  h1 {
    color: $black;
    text-align: center;
  }

  .navbar {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;

    .link {
      color: $white;
      cursor: pointer;
    }
  }
}
